# See http://help.github.com/ignore-files/ for more about ignoring files.

.editorconfig
ts.localhost.iml

package-lock.json
/common/package-lock.json
/angular1/package-lock.json
/angular2/package-lock.json
/angular4/package-lock.json
/angular5/package-lock.json

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/common/node_modules
/angular1/node_modules
/angular2/node_modules
/angular4/node_modules
/angular5/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System Files
.DS_Store
Thumbs.db
